$border-color: #696969;

.dropArea {
    .fileDrop { 
        width: 300px;
        height: 30px;
        border: 3px $border-color dashed;
        margin: 5px 2px;
        border-radius: 5px;
        padding-top: 10px 0px 10px 0px;
        
        position: relative;

        text-align: center;
        display: table-cell;
        vertical-align: middle;

        overflow: hidden;

        .imgToResize {
            cursor: move;
        }

        .containerToResize {
            cursor: move;
            position: absolute;   
        }

        .resize-handle-ne,
        .resize-handle-se,
        .resize-handle-nw,
        .resize-handle-sw {
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            background: rgba(222,60,80,.9);
            z-index: 999;
        }

        .resize-handle-nw {
            top: -5px;
            left: -5px;
            cursor: nw-resize;
        }

        .resize-handle-sw {
            bottom: -5px;
            left: -5px;
            cursor: sw-resize;
        }

        .resize-handle-ne {
            top: -5px;
            right: -5px;
            cursor: ne-resize;
        }

        .resize-handle-se {
            bottom: -5px;
            right: -5px;
            cursor: se-resize;
        }
    }

    .fileBrowse {
        margin: 0px 0px 5px;
        border: 2px dashed $border-color;
        width: 480px;
        border-radius: 5px;
        padding: 1px;
    }
}
